.btn {
   border: 0 none;
   border-radius: 0;
   font-size: 0.935em;
   font-weight: 600;
   line-height: 20px;
   padding: 11px 15px;
   text-align: center;
   
   &:focus {
      box-shadow: none;
      outline: 0;
   }
   
   &:disabled {
      box-shadow: none;
      opacity: 0.37;
   }
   
   // Types of buttons
   &.btn-primary {
      width: 100%;
      &:disabled {
         color: $white;
      }
   }
   
   &.btn-bordered {
      color: $black;
      border: 1px solid $black;
      padding-top: 10px;
      padding-bottom: 10px;
      &:hover{
         color: $white;
         background-color: $black;
      }
   }
   
   &.btn-secondary {
   }
   
}

.cart-actions {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 34px;
   
   .btn{
      margin-bottom: 18px;
      &:last-child{
         margin-bottom: 13px;
      }
      @include media-breakpoint-up(md){
         margin-left: 10px;
         margin-right: 10px;
         min-width: 280px;
      }
   }
}

@media screen and (min-width: 992px) {
   .btn {
      &.btn-cta {
         min-width: 200px;
         width: auto;
         height: 100%;
         min-width: 100%;
         &.btn-cta-ac{
            min-width: 200px;
         }
      }
   }
   
   .bottom-cta {
      text-align: center;
   }
   
   .cart-actions {
      .btn{
         &.btn-cta{    
            @include media-breakpoint-up(md){
               min-width: 280px;
            }
         }
      }
      
   }
}