

.front-wrapper  {
    background-color: $white;
    min-height: 100vh;

    .container.container-md {
        max-width: 920px;
    }
    .container.container-md-sm {
        max-width: 820px;
    }
}

// header
.main-header {
    background-color: $primary;
}
.header-wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0;

    .header-logo {
        width: 235px;
    }
    .header-right {
        width: calc(100% - 235px);
    }
}

.header-logo {
    img, svg {
        height: auto;
        width: 235px;
    }
}

.header-right {
    color: $white;
    max-width: 620px;
    padding-left: 20px;
    padding-right: 40px;
    width: 100%;
    p {
        margin-bottom: 0;
    }
}

// main container
.frontend-main {
    padding-top: 50px;
    padding-bottom: 50px;
}

// frontend elements
.f-box {
    background-color: $prymary_bg;
    margin-bottom: 30px;
    padding: 20px 30px 30px;

    input[type="text"],input[type="email"],input[type="phone"],input[type="password"],
    select,
    textarea {
        background-color: #fff;
    }
}